In [138]:
import pandas as pd

In [139]:
#trace = pd.HDFStore("test_profile_output-0.prof.h5") 
trace = pd.HDFStore("dpotrf-0.prof.h5")

In [140]:
trace.keys()

['/errors',
 '/event_attributes',
 '/event_convertors',
 '/event_names',
 '/event_types',
 '/events',
 '/information',
 '/nodes',
 '/streams']

In [141]:
#trace.groups()
data = trace['/events']
data.columns

Index(['type', 'nb_data_items', 'stream_id', 'taskpool_id', 'total_data_size',
       'begin', 'task_class_id', 'id', 'end', 'flags', 'chore_id', 'node_id',
       'priority'],
      dtype='object')

In [142]:
data = trace.get('/events')
type(data)

pandas.core.frame.DataFrame

In [143]:
data.columns

Index(['type', 'nb_data_items', 'stream_id', 'taskpool_id', 'total_data_size',
       'begin', 'task_class_id', 'id', 'end', 'flags', 'chore_id', 'node_id',
       'priority'],
      dtype='object')

In [144]:
data.head()

,type,nb_data_items,stream_id,taskpool_id,total_data_size,begin,task_class_id,id,end,flags,chore_id,node_id,priority
0,3,0,0,2,0,320456,1,0,340988,1,0,0,-1
1,3,1,0,2,4,360547,0,0,376960,1,0,0,0
2,3,1,0,2,4,410859,0,1,421818,1,0,0,0
3,3,1,0,2,4,431244,0,2,438438,1,0,0,0
4,3,1,0,2,4,445088,0,3,451921,1,0,0,0

In [145]:
data_refined = data[['begin', 'end', 'taskpool_id', 'task_class_id','chore_id', 'nb_data_items', 'total_data_size', 'priority']].copy()
data_refined['exec_time'] = data['end'] - data['begin']

In [146]:
data_refined.head()

,begin,end,taskpool_id,task_class_id,chore_id,nb_data_items,total_data_size,priority,exec_time
0,320456,340988,2,1,0,0,0,-1,20532
1,360547,376960,2,0,0,1,4,0,16413
2,410859,421818,2,0,0,1,4,0,10959
3,431244,438438,2,0,0,1,4,0,7194
4,445088,451921,2,0,0,1,4,0,6833

In [147]:
data = trace.get('/information')
type(data)

pandas.core.series.Series

In [148]:
data = trace.get('/event_attributes')
type(data)

pandas.core.series.Series

In [149]:
trace.event_types

N/A                  0
TASK_MEMORY          1
Device delegate      2
TASK_GRANULARITY     3
Ex02_Chain::Task     4
MPI_ACTIVATE         5
MPI_DATA_CTL         6
MPI_DATA_PLD_SND     7
MPI_DATA_PLD_RCV     8
ACTIVATE_CB          9
PUT_CB              10
dtype: int64

In [150]:
trace.event_names

 0                  N/A
 1          TASK_MEMORY
 2      Device delegate
 3     TASK_GRANULARITY
 4     Ex02_Chain::Task
 5         MPI_ACTIVATE
 6         MPI_DATA_CTL
 7     MPI_DATA_PLD_SND
 8     MPI_DATA_PLD_RCV
 9          ACTIVATE_CB
 10              PUT_CB
-1
dtype: object

In [151]:
trace.info

<bound method HDFStore.info of <class 'pandas.io.pytables.HDFStore'>
File path: dpotrf-0.prof.h5
>

In [152]:
print(trace['/event_types'])

N/A                  0
TASK_MEMORY          1
Device delegate      2
TASK_GRANULARITY     3
Ex02_Chain::Task     4
MPI_ACTIVATE         5
MPI_DATA_CTL         6
MPI_DATA_PLD_SND     7
MPI_DATA_PLD_RCV     8
ACTIVATE_CB          9
PUT_CB              10
dtype: int64

In [153]:
trace.close()